<h1>{{contact.firstName}} {{contact.lastName}} Details</h1>
<!-- In 'contacts/show.hbs' view, setup the container <div>, with a contact profile image <div>, and the contact's info <div>, 'edit' <button>, and 'delete' button -->
	<div id="contact-card">
		<div id="contact-img"><img src="{{contact.img}}"/></div>
		<ul>
			<li><h2>{{contact.firstName}} {{contact.lastName}}</h2></li>
			<li>{{contact.title}}</li>
			<li>{{contact.company}}</li>
			<li>{{contact.email}}</li>
			<li>{{contact.phone}}</li>
			</ul>
		<button><a href="/users/{{user.id}}/contacts/edit">Edit</a></button>
		<form action="/users/{{user.id}}/contacts/{{contact.id}}?_method=DELETE" method="POST"> 
	     <input type="submit" value="DELETE"/>
	    </form>
	</div>
	<br>
	<div id="contact-notes">
		<h3>Notes:</h3>
		<p>{{contact.notes}}</p>

	</div>