<form method="POST" action="/sessions?_method=DELETE"><button class="btn btn-danger">Log Out</button></form>
<a href="/users/{{user.id}}/delete" class="btn btn-danger">Delete Your Account?</a>
<h1>Welcome: {{user.userFirstName}}</h1>

		<div class="user-container-show">

			<h3 id="user-stats">You have {{contact.length}} contacts! </h3>

				<button><a href="/users/{{user.id}}/contacts/new">Add Contact</a></button>

				<ul>
				{{#each contact}}
				    <li><h3>Name: <a href="/users/{{../user.id}}/contacts/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></h3></li>
				    <li>Title: {{this.title}}</li>
				    <li>Company: {{this.company}}</li>
				    <li>Email: {{this.email}}</li>
				    <li>Phone Number: {{this.phone}}</li>
				    <li>Notes: {{this.notes}}</li>
    				<li><button class="btn btn-primary"><a href="/users/{{../user.id}}/contacts/{{this.id}}/edit">Edit</a></button></li>
				{{/each}}
					</ul>
		
<!--   USER PROFILE VIEW CODE-->
<!--   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">-->
<!--<div class="container">-->
<!--	<div class="row">-->
<!--		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">-->
<!--    	 <div class="well profile">-->
<!--            <div class="col-sm-12">-->
<!--                <div class="col-xs-12 col-sm-8">-->
<!--                    <h2>Nicole Pearson</h2>-->
<!--                    <p><strong>About: </strong> Web Designer / UI. </p>-->
<!--                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>-->
<!--                    <p><strong>Skills: </strong>-->
<!--                        <span class="tags">html5</span> -->
<!--                        <span class="tags">css3</span>-->
<!--                        <span class="tags">jquery</span>-->
<!--                        <span class="tags">bootstrap3</span>-->
<!--                    </p>-->
<!--                </div>             -->
<!--                <div class="col-xs-12 col-sm-4 text-center">-->
<!--                    <figure>-->
<!--                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">-->
<!--                        <figcaption class="ratings">-->
<!--                            <p>Ratings-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-star"></span>-->
<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-star"></span>-->
<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-star"></span>-->
<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-star"></span>-->
<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                 <span class="fa fa-star-o"></span>-->
<!--                            </a> -->
<!--                            </p>-->
<!--                        </figcaption>-->
<!--                    </figure>-->
<!--                </div>-->
<!--            </div>            -->
<!--            <div class="col-xs-12 divider text-center">-->
<!--                <div class="col-xs-12 col-sm-4 emphasis">-->
<!--                    <h2><strong> 20,7K </strong></h2>                    -->
<!--                    <p><small>Followers</small></p>-->
<!--                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
<!--                </div>-->
<!--                <div class="col-xs-12 col-sm-4 emphasis">-->
<!--                    <h2><strong>245</strong></h2>                    -->
<!--                    <p><small>Following</small></p>-->
<!--                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
<!--                </div>-->
<!--                <div class="col-xs-12 col-sm-4 emphasis">-->
<!--                    <h2><strong>43</strong></h2>                    -->
<!--                    <p><small>Snippets</small></p>-->
<!--                    <div class="btn-group dropup btn-block">-->
<!--                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>-->
<!--                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
<!--                        <span class="caret"></span>-->
<!--                        <span class="sr-only">Toggle Dropdown</span>-->
<!--                      </button>-->
<!--                      <ul class="dropdown-menu text-left" role="menu">-->
<!--                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>-->
<!--                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--    	 </div>                 -->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--   END OF USER PROFILE VIEW CODE-->
   
<div id="card-container">

	<!--BEGINNING OF CARDS TO PLACE IN USER SHOW CARD DIV-->
<!--    <div class="container">-->
<!--    <div class="row">-->
<!--     <div class="col-sm-10 col-sm-offset-1">-->
<!--         <div class="col-md-4 col-sm-6">-->
<!--             <div class="card-container">-->
<!--                <div class="card">-->
<!--                    <div class="front">-->
<!--                        <div class="cover">-->
<!--                            <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="user">-->
<!--                            <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h3 class="name">John Marvel</h3>-->
<!--                                <p class="profession">CEO</p>-->
<!--                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>-->
<!--                            </div>-->
<!--                            <div class="footer">-->
<!--                                <i class="fa fa-mail-forward"></i> Auto Rotation-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end front panel --> 
<!--                    <div class="back">-->
<!--                        <div class="header">-->
<!--                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h4 class="text-center">Job Description</h4>-->
<!--                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>-->

<!--                                <div class="stats-container">-->
<!--                                    <div class="stats">-->
<!--                                        <h4>235</h4>-->
<!--                                        <p>-->
<!--                                            Followers-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>114</h4>-->
<!--                                        <p>-->
<!--                                            Following-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>35</h4>-->
<!--                                        <p>-->
<!--                                            Projects-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="footer">-->
<!--                            <div class="social-links text-center">-->
<!--                                <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end back panel -->
<!--                </div> <!-- end card -->
<!--            </div> <!-- end card-container -->
<!--        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
<!--        <div class="col-md-4 col-sm-6">-->
<!--             <div class="card-container manual-flip">-->
<!--                <div class="card">-->
<!--                    <div class="front">-->
<!--                        <div class="cover">-->
<!--                            <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="user">-->
<!--                            <img class="img-circle" src="http://www.outbrain.com/risingstars/wp-content/uploads/708x708-RS-Profile-Ashley-Callahan-400x400.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h3 class="name">Andrew Mike</h3>-->
<!--                                <p class="profession">Web Developer</p>-->
<!--                                <p class="text-center">"Lamborghini Mercy <br>Your chick she so thirsty <br>I'm in that two seat Lambo"</p>-->
<!--                            </div>-->
<!--                            <div class="footer">-->
<!--                                <button class="btn btn-simple" onclick="rotateCard(this)">-->
<!--                                    <i class="fa fa-mail-forward"></i> Manual Rotation-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end front panel -->
<!--                    <div class="back">-->
<!--                        <div class="header">-->
<!--                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h4 class="text-center">Job Description</h4>-->
<!--                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>-->

<!--                                <div class="stats-container">-->
<!--                                    <div class="stats">-->
<!--                                        <h4>235</h4>-->
<!--                                        <p>-->
<!--                                            Followers-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>114</h4>-->
<!--                                        <p>-->
<!--                                            Following-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>35</h4>-->
<!--                                        <p>-->
<!--                                            Projects-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="footer">-->
<!--                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">-->
<!--                                <i class="fa fa-reply"></i> Back-->
<!--                            </button>-->
<!--                            <div class="social-links text-center">-->
<!--                                <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end back panel -->
<!--                </div> <!-- end card -->
<!--            </div> <!-- end card-container -->
<!--        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
<!--        <div class="col-md-4 col-sm-6">-->
<!--            <div class="card-container">-->
<!--                <div class="card">-->
<!--                    <div class="front">-->
<!--                        <div class="cover">-->
<!--                            <img src="http://www.hdimageson.com/wp-content/uploads/2016/05/beach-images-tumblr-300x188.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="user">-->
<!--                            <img class="img-circle" src="https://1.bp.blogspot.com/-aruLLVlXyJM/V_t-TxTncZI/AAAAAAAAJ3k/hnQKKVmKuOY_awf1nHGTsukGfw4qrde-gCLcB/s400/2.jpg"/>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h3 class="name">Inna Corman</h3>-->
<!--                                <p class="profession">Product Manager</p>-->

<!--                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>-->
<!--                            </div>-->
<!--                            <div class="footer">-->
<!--                                <div class="rating">-->
<!--                                    <i class="fa fa-mail-forward"></i> Auto Rotation-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end front panel -->
<!--                    <div class="back">-->
<!--                        <div class="header">-->
<!--                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <div class="main">-->
<!--                                <h4 class="text-center">Job Description</h4>-->
<!--                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>-->

<!--                                <div class="stats-container">-->
<!--                                    <div class="stats">-->
<!--                                        <h4>235</h4>-->
<!--                                        <p>-->
<!--                                            Followers-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>114</h4>-->
<!--                                        <p>-->
<!--                                            Following-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="stats">-->
<!--                                        <h4>35</h4>-->
<!--                                        <p>-->
<!--                                            Projects-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="footer">-->
<!--                            <div class="social-links text-center">-->
<!--                                <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>-->
<!--                                <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> <!-- end back panel -->
<!--                </div> <!-- end card -->
<!--            </div> <!-- end card-container -->
<!--        </div> <!-- end col-sm-3 -->
<!--        </div> <!-- end col-sm-10 -->
<!--    </div> <!-- end row -->
<!--    <div class="space-200"></div>-->
<!--</div>-->

<!--END OF CARDs-->


</div>   		