<div class="text-center">
<div>
	<a href="site-map.html" onclick="history.go(-1)">Back</a>
</div>

<form method="POST" action="/sessions?_method=DELETE"><button class="btn btn-danger">Log Out</button></form>
</div>

<div class="container">
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                    <img class="img-circle img-responsive" src="{{contact.img}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                    <div itemscope="" itemtype="http://schema.org/Person">
                                        <h2> <span itemprop="name">{{contact.firstName}} {{contact.lastName}}</span></h2>
                                        <p itemprop="jobTitle">{{contact.title}}</p>
                                        <p><span itemprop="affiliation">{{contact.company}}</span></p>
                                        <p><span itemprop="phone">{{contact.phone}}</span>
                                        </p>
                                        <p itemprop="email"> <i class="fa fa-envelope"> </i> <a href="mailto:{{contact.email}}">{{contact.email}}</a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 centered-text">
                        <p>NOTES:</p>
                            {{contact.notes}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div id="social-links" class=" col-lg-12">
                            <div class="row">
                                
                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 social-btn-holder">
                                    <button><a href="/users/{{user.id}}/contacts/{{contact.id}}/edit">Edit</a></button>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 social-btn-holder">
                                    <button><a href="/users/{{user.id}}">Cancel</a></button>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
